@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body{
  background-color: #091925;
}

nav {
  padding: 0 1rem;
  background-color: #162B3A;
}
.nav-wrapper{
  padding: 0px 30px !important;
}
.meal-logo{
  font-family: 'Dancing Script', cursive;
  text-transform: capitalize;
  font-size: 32px;
}
.content {
  min-height: calc(100vh - 70px - 47px);
  padding: 1.5rem 0;
}

.list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  color: white;
}
.card{
  display: flex;
  flex-direction: column;
  background-color: #2D3748;
  border-radius: 10px;
  padding: 10px;
}
.card-content{
  flex-grow: 1;
}

.recipe img{
  max-width: 100%;
  margin-top: 1rem;
}
.catList h2{
  text-align: center;
  color: white;
}

.footer{
  background-color: #162B3A;
  color: white;
}

input{
  color: white !important;
}

input:focus{
  background-color: #2D3748 !important;
}
.meal{
  color: white;
}
.meal_category{
  width: 200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  padding-bottom: 5px;

}

.btn{
  background-color: #3f9cfb !important;
  transition: all .2s ease;
}
.btn:hover{
  background-color: #0080ff !important;
}
tr{
  border-bottom: 1px solid white;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about{
  color: white;
  font-size: 30px;
}
.contact{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}
.contact a h4{
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 456px){
  .meal-logo {
      font-size: 22px;
    }
.contact a h4 {
    font-size: 1.2rem;
    
  }
    .about {
      font-size: 22px;
      line-height: 35px;
    }
}